body{
    background: #FFF3E4;

    margin-top: 5%;
}
nav{
  width: 100%;
  background-color: #FFF3E4;
  position: fixed;
  top: 0px;
}
nav.navbar-nav ul{
  width: auto;
  text-align: center;
}
ul.navbar li{
  list-style: none;
  display: inline-flex;
  padding: 4px 15px;
}
ul.navbar li a{
  text-align: center;
  color:#6B4F4F;
  text-decoration: none;
  font-size: 20px;
}
ul.navbar li a:hover{
  color:wheat;
  transition: 0.2s;
}
div.profile{
  background-color: #6B4F4F;
  border-radius: 15px;
  padding: 8%;
}
td.about > h1, h2{
  color: #EED6C4;
}
td.about > p{
  color: #EED6C4;
}
.social_media ul {
      margin-left: 23%;
      margin-bottom: 5%;
      position:relative;
      top: 50%;
      left: 50%;
      transform: translate(-50%, 0%);
      padding: 50;
      margin: 50;
      display: flex;
      
  }
.social_media ul li {
      list-style: none;
      margin: 0 15px;
  }
.social_media ul li .fa {
      color: #000000;
      font-size: 25px;
      line-height: 50px;
      transition: .5s;
  }
.social_media ul li .fa:hover {
      color: #ffffff;
  }
.social_media ul li a {
      display: block;
      width: 50px;
      height: 50px;
      border-radius: 50%;
      background-color: white;
      text-align: center;
      transition: 0.5s;
      transform: translate(0,0px);
      box-shadow: 0px 7px 5px rgba(0, 0, 0, 0.5);
  }
.social_media ul li a:hover {
      transform: rotate(0deg) skew(0deg) translate(0, -10px);
  }
.social_media ul li:nth-child(1) a:hover {
      background-color: #3b5999;
  }
.social_media ul li:nth-child(2) a:hover {
      background-color: #0077B5;
  }
.social_media ul li:nth-child(3) a:hover {
      background-color: #e4405f;
  }
.social_media ul li:nth-child(4) a:hover {
      background-color: #15b500;
  }
#awards ul li{
  padding: 10px;
}

input[type="submit"]{
  width: 100%;
  padding: 10px;
  background-color: #6B4F4F;
  color: #EED6C4;
}
footer{
  margin: 1%;
  position: sticky;
}

